pre code.hljs {
    font-size: .8em;
    line-height: 1em;
}

.reveal .present {
/*    margin-top: -10% !important;
    width: 90% !important;
    height: 80% !important;
*/
}

.reveal .slides {
}

.reveal pre code {
    max-height: 600px !important;
    max-width: 900px !important;
}
