pre code.hljs {
    font-size: .8em;
    line-height: 1em;
}

.reveal .slides {
    margin-top: -10% !important;
    width: 90% !important;
    height: 90% !important;
}

.reveal pre code {
    max-height: 90% !important;
    min-height: 50% !important;
}
